# Flutter
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.metadata
**/build/

# IDE
.vscode/
.idea/

# Python
__pycache__/
*.pyc
.env


# Virtual environments
.venv/
**/.venv/
